<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Create</title>
    <script type="text/javascript" src="/scripts/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/append.js"></script>

</head>
<body>
<form method="post" action="/assignments">
    <label for="name">Name:</label>
    <input name="name" id="name" type="text">
    <br />
    <label for="score">Score::</label>
    <input name="score" id="score" type="text">
    <br />

    <label for="rank">Rank:</label>
    <input name="rank" id="rank" type="text">
    <br/>

    <label for="dateCompleted">Date Completed:</label>
    <input name="dateCompleted" id="dateCompleted" type="text">
    <br/>

    <input class='submit' type="submit" value="Submit">
</form>

<div class="data">

</div>
</body>
</html>